QPushButton#btnStart_NotOK{
    background-color: rgb(224, 40, 40);
}

QPushButton#btnStart_OK{
    background-color: rgb(40, 224, 40);
}

StatusLabel#status_label{
    min-height: 30px;
    max-height: 30px;
    max-width: 200px;
}

#status_label_icon{
    min-height: 30px;
    min-width: 30px;
    max-height: 30px;
    max-width: 30px;
}
